.my-nav{
    background-image: linear-gradient(360deg, rgba(255, 255, 255, 0.5), rgb(255, 255, 255, 0.9)), url('../../logos/bgImg3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    /* overflow-y: hidden; */
}
.my-deck{
    /* overflow-x: hidden !important; */
    padding: 10px;
    margin: 25px !important;
    justify-content: center !important;
}
.form {
    width: 80% !important;
    margin: 0 auto;
    height: 250px;
    /* border: 2px solid lavender; */
    position: relative !important;
    top: 150px !important;
}
.input{
    width: 365px;
    margin: 15px auto;
}
input[label='Search']{
    position: relative !important;
    bottom: 61.9px;
    left: 136px;
}
h4{
    width: 80%;
    margin: 0 auto;
}
@media (max-width: 568px){
    .form{
        display: none !important;
    }
}